# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
.vercel

# System & OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env
